@import "tailwindcss";
@theme static {
  --cl-prim-100: var(--color-blue-100);
  --cl-prim-200: var(--color-blue-200);
  --cl-prim-300: var(--color-blue-300);
  --cl-prim-400: var(--color-blue-400);
  --cl-prim-500: var(--color-blue-500);
  --cl-prim-600: var(--color-blue-600);
  --cl-prim-700: var(--color-blue-700);
  --cl-prim-800: var(--color-blue-800);

  --cl-snd-0: var(--color-white);
  --cl-snd-50: var(--color-gray-50);
  --cl-snd-200: var(--color-gray-200);
  --cl-snd-300: var(--color-gray-300);
  --cl-snd-400: var(--color-gray-400);
  --cl-snd-500: var(--color-gray-500);
  --cl-snd-600: var(--color-gray-600);
  --cl-snd-700: var(--color-gray-700);
  --cl-snd-1000: var(--color-black);

  --cl-error: var(--color-red-500);
  --cl-success: var(--color-green-600);
  --cl-waring: var(--color-amber-500);
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-inter);
}

.overflow-y-auto::-webkit-scrollbar {
  @apply w-2;
}

.overflow-y-auto::-webkit-scrollbar-track {
  @apply bg-[var(--cl-snd-200)];
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  @apply bg-[var(--cl-snd-400)];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-mono);
}
.swiper-pagination {
  top: 0 !important;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  height: 3rem;
}
.swiper-pagination-fraction {
  left: 0 !important;
  color: rgb(205, 204, 204) !important;
  letter-spacing: 4px;
  font-size: 1rem;
  font-weight: 300;
}
.mySwiper {
  height: 90vh;
  width: 100vw;
}
.swiper {
  background-color: rgba(0, 0, 0, 0.5);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 {
  height: 10vh;
  width: auto;
}

/* .mySwiper2 .swiper-slide {
  width: auto;
  cursor: pointer;
  opacity: 0.4;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 7px;
} */
.mySwiper2 .swiper-slide {
  width: 9%;
  height: 100%;
  opacity: 0.4;
  border: 2px solid rgb(216, 216, 216);
  border-radius: 3px;
  display: flex;
  justify-items: center;
  padding: 2px;
  background-color: rgb(55, 54, 54);
  cursor: pointer;
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
  border-color: rgb(255, 8, 8);
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 20;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgb(142, 221, 250);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: rgb(142, 221, 250);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
