@import "tailwindcss";
@theme static {
  --cl-prim-100: var(--color-blue-100);
  --cl-prim-200: var(--color-blue-200);
  --cl-prim-300: var(--color-blue-300);
  --cl-prim-400: var(--color-blue-400);
  --cl-prim-500: var(--color-blue-500);
  --cl-prim-600: var(--color-blue-600);
  --cl-prim-700: var(--color-blue-700);
  --cl-prim-800: var(--color-blue-800);

  --cl-snd-0: var(--color-white);
  --cl-snd-50: var(--color-gray-50);
  --cl-snd-200: var(--color-gray-200);
  --cl-snd-300: var(--color-gray-300);
  --cl-snd-400: var(--color-gray-400);
  --cl-snd-500: var(--color-gray-500);
  --cl-snd-600: var(--color-gray-600);
  --cl-snd-700: var(--color-gray-700);
  --cl-snd-1000: var(--color-black);

  --cl-error: var(--color-red-500);
  --cl-success: var(--color-green-600);
  --cl-waring: var(--color-amber-500);
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
}

body {
  font-family: var(--font-inter);
}

.overflow-y-auto::-webkit-scrollbar {
  @apply w-2;
}

.overflow-y-auto::-webkit-scrollbar-track {
  @apply bg-[var(--cl-snd-200)];
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  @apply bg-[var(--cl-snd-400)];
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-mono);
}

[popover] {
  inset: unset;
  top: anchor(bottom);
  left: anchor(left);
  position-try-fallbacks: --right;
}

/* .top-left {
  inset: unset;
  bottom: anchor(top);
  left: anchor(left);
  translate: -50% -0.5rem;
  position-try-fallbacks: --left;
} */

@position-try --right {
  inset: unset;
  right: anchor(right);
  top: anchor(bottom);
}

@position-try --left {
  inset: unset;
  right: anchor(right);
  top: anchor(top);
}
